<div class="card  js-hash-filter" data-tags="{{tags}}">
  <header class="card-header">
    <h2><a href="{{link}}">{{title}}</a> ({{lang}})</h2>
    <p>{{author}}</p>
    <p>{{formatTime date "DD.MM.YYYY"}}</p>
  </header>
  <div class="card-content">
    <div class="inner">
      <p>{{intro}}</p>
      <a href="{{link}}" class="btn  btn-primary  btn-ghost"
         title="open article: {{title}} ({{lang}})">Open article</a>
    </div>
  </div>
</div>
