<div class="card  js-hash-filter" data-tags="{{tags}}"
     itemscope itemtype="http://schema.org/Article">
  <header class="card-header">
    <h2><a href="{{link}}"><span itemprop="headline">{{headline}} {{#if subline}}{{subline}}{{/if}}</span></a> ({{lang}})</h2>
    <p itemprop="author">{{author}}</p>
    <p>{{formatTime date "DD.MM.YYYY"}}</p>
    <meta itemprop="datePublished" content="{{formatTime date "YYYY-MM-DD"}}">
  </header>
  <div class="card-content">
    <div class="inner">
      <p>{{intro}}</p>
      <a href="{{link}}" itemprop="url" class="btn  btn-primary  btn-ghost"
         title="open article: {{title}} ({{lang}})">Open article</a>
    </div>
  </div>
</div>
