<!DOCTYPE html>
<html lang="{{lang}}">
  <head itemscope itemtype="http://schema.org/WebSite">
    {{> htmlheader}}
    <meta name="author" content="{{author}}">
    <title itemprop='name'>{{site.header.title_prefix}} - {{headline}} {{#if subline}}{{subline}}{{/if}}</title>

    {{> analytics}}
  </head>
  <body class="hack  hack--toh">
    {{> navigation}}
    <div class="container">
      <header>
        <h1>{{headline}} {{#if subline}}<span class="subline">{{subline}}</span>{{/if}}</h1>
        <p class="author">von {{author}}</p>
        <time datetime="{{formatTime date "YYYY-MM-DD"}}">{{formatTime date "DD.MM.YYYY"}}</time>
        <p>{{> shareOnTwitter url="posts/bohnenkaffee-und-was-daraus-wurde.html" text=headline}}</p>
      </header>
    </div>
    <main class="main container">
      {{#markdown}}{{> @partial-block }}{{/markdown}}
    </main>
    <div class="container">
      {{> flattr}}
      <ul class="tags">
        {{#formatTags tags}}
        <li class="tags__item">{{tag}}</li>
        {{/formatTags}}
      </ul>
    </div>
    {{> footer}}
  </body>
</html>
