<!DOCTYPE html>
<html lang="{{lang}}">
  <head itemscope itemtype="http://schema.org/WebSite">
    {{> htmlheader}}
    <meta name="author" content="{{author}}">
    <title itemprop='name'>{{site.header.title_prefix}} - {{headline}} {{#if subline}}{{subline}}{{/if}}</title>

    {{> analytics}}
  </head>
  <body class="hack  hack--toh">
    {{> navigation}}
    <main class="main container" itemscope itemtype="http://schema.org/Article">
      <header>
        <h1 itemprop="headline">{{headline}} {{#if subline}}<span class="subline">{{subline}}</span>{{/if}}</h1>
        <p itemprop="author" class="author">von {{author}}</p>
        <time datetime="{{formatTime date "YYYY-MM-DD"}}">{{formatTime date "DD.MM.YYYY"}}</time>
        <meta itemprop="datePublished" content="{{formatTime date "YYYY-MM-DD"}}">
      </header>
      {{#markdown}}{{> @partial-block }}{{/markdown}}
    </main>
    <div class="container">
      {{> flattr}}
      <ul class="tags" itemprop="keywords">
        {{#formatTags tags}}
        <li class="tags__item">{{tag}}</li>
        {{/formatTags}}
      </ul>
    </div>
    {{> footer}}
  </body>
</html>
